.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title {
  font-weight: bolder;
  font-size: 14px;
  font-style: italic;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nft-container {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  max-width: 320px;
  width: 100%;
  border-radius: 2em;
  margin: 1em 0;
  position: relative;
}

.nft-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.mint-button {
  padding: 10px;
  border-radius: 10px;
  background: #ef6356;
  color: white;
  font-size: 20px;
  font-weight: 200;
  border: 5px solid #ffc861;
  cursor: pointer;
}

.mint-button:hover {
  background: #f44535;
  border-color: #ffa601;
}

.link-button {
  padding: 10px;
  border: 5px solid #ef6356;
  background-color: #ecab2c;
  border-radius: 10px;
  width: 160px;
  margin-top: 20px;
  color: blue;
}

.link-button:hover {
  color: white;
  border-color: #ef4030;
  background-color: #fea900;
}

@media screen and (max-width: 442px) {
  .nft-container {
    max-width: 200px;
  }
}
